# Unity gitignore
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
**/.idea/
**/.vs/
**/*.csproj
**/*.sln
**/*.user
**/*.pidb
**/*.suo
**/*.unityproj
**/*.booproj
**/*.svd
**/.DS_Store

# Crashlytics
**/Assets/StreamingAssets/crashlytics-build.properties

